{% extends "base.html" %}
{% block container %}
<h1 class="mt-4">Products</h1>
<div class="table-responsivee">
    <table class="table table-borderless table-hover">
        <thead class="thead-dark">
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Price <span class="text-muted">(DT)</span></th>
            <th>Quantity <span class="text-muted">(in stock)</span></th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr>
                <td><span class="font-weight-bold">U234541</span></td>
                <td>2020-01-23</td>
                <td><span class="badge badge-pill badge-primary">Processing</span></td>
                <td><span class="badge badge-pill badge-success">Authorized</span></td>
                <td>234</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}